- content_for :page_title, "ACCESS DENIED"

= render 'shared/header'
%p
  If you have reached this page, you are not an admin.
%p
  wow, so embarrass, very unfortunate, many rejects
%p
  Return to
  = link_to('doge', root_path)