@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);

$sans-serif: "Lato", sans-serif;
$serif: "Georgia", serif;

$green: rgb(82, 228, 93);
$purple: rgb(245, 157, 76);
$red: #c32f34;
$teal: #379a75;

$inactive-color: #999;
$active-color: $teal;
$repo-list-toggle-size: 1.5rem;

$base-border-color: rgb(220,220,220);
$base-font-color: rgb(91, 91, 91);
$light-font-color: rgb(47, 79, 79);
$medium-font-color: rgb(91, 91, 91);

$icon-font: "FontAwesome";
$icon-dropdown: '\f0d7';
$icon-dropup: '\f0d8';
$icon-lock: '\f023';
$icon-sign-out: '\f08b';
$icon-list: '\f03a';

$small-screen: new-breakpoint(max-width em(800) 2);
$medium-screen: new-breakpoint(max-width em(1000) 4);
$large-screen: new-breakpoint(max-width em(1200) 8);
